<div>
  <div class="container d-none d-md-flex justify-content-around py-4">
    <div>
      <mat-icon class="text-warning">local_shipping</mat-icon>
      &nbsp;
      <span class="text-black-50 fw-bolder fs-4">FREE SHIPPING</span>
    </div>
    <div>
      <mat-icon class="text-warning">credit_card</mat-icon>
      &nbsp;
      <span class="text-black-50 fw-bolder fs-4">100% MONEY BACK</span>
    </div>
    <div>
      <mat-icon class="text-warning">headset_mic</mat-icon>
      &nbsp;
      <span class="text-black-50 fw-bolder fs-4">SUPPORT 24/7</span>
    </div>
  </div>
  <h3 class="text-center py-5">Probando notificación</h3>
  <div class="d-flex justify-content-center py-5">
    <button class="btn btn-danger" (click)="subscribeToNotifications()">
      Solicitar Permiso
    </button>
  </div>
  <div class="d-flex justify-content-center py-5">
    <button class="btn btn-primary" (click)="sendNotification()">
      Enviar Notificacion
    </button>
  </div>
  <div class="d-flex justify-content-center pt-2 pb-5">
    <h5 class="text-center">Respuesta:</h5>
    <code class="w-100 d-none">{{ respuesta | json }}</code>
  </div>
</div>
